.Navbars {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40vh;
  width: 100vw;
}
.navbar-1,
.navbar-2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-grow: 1;
}

.Navbar {
  height: 80px;
  width: 100%;
  /* background-color: rgb(33, 29, 58); */
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.link-style {
  text-decoration: none;
  color: white;
  padding: 1em;
}
.navbar-1 .link-style:hover {
  color: rgb(120, 152, 255);
}
.navbar-2 .link-style:hover {
  color: rgb(231, 255, 126);
}
